<!DOCTYPE html>
<html>
<body>
  <h2>Create Habit</h2>

  <form method="post" action="/habit/form">
    <input name="name" placeholder="Habit name" required />
    <input name="category" placeholder="Category" />
    <button type="submit">Add</button>
  </form>

  <h2>Habits</h2>
  <ol>
    {% for habit in habits %}
      <li>
        {{ habit.name }} ({{ habit.category or "No category" }}) --- {{ habit.log_count or 0 }} logs
      </li>
      <a href="/habits/{{ habit.id }}/log">Log</a>
    {% endfor %}
  </ol>
  <p>Total number of habits: {{ total_habit }}</p>
</body>
</html>
