{# This is how you comment in Jinja2 #}
<!DOCTYPE html>
<html>
<body>
    <h2>Log Habit: {{ habit.name }}</h2>

    <form method="post" action="/habits/{{ habit.id }}/form">
        <input name="value" placeholder="Minutes" required>
        <input name="note" placeholder="Note">
        <button type="submit">Log</button>
    </form>

    <h2>Habit Logs</h2>
    <ul>
        {% for log in logs %}
        <li>
            {{ log.date }} — {{ log.value }} min
            ({{ log.note or "No note" }})
        </li>
        {% else %}
        <li>No logs yet</li>
        {% endfor %}
    </ul>
    <h2>Daily Totals</h2>
    <ul>
        {% for row in grouped_logs %}
        <li>
            {{ row.date }} — {{ row.total_value }} min
        </li>
        {% else %}
        <li>No totals yet</li>
        {% endfor %}
    </ul>

    <a href="/habits/{{ habit.id }}/stats">View Weekly Stats</a>
    <br>
    <a href="/habits/">Back to Habits</a>
</body>
</html>
